.demo:not(.noBorder) {
  background: var(--background);
  border-radius: 10px;
  border: 1px solid var(--border);
  box-shadow: var(--ifm-global-shadow-lw);
  overflow: hidden;
  margin-bottom: var(--ifm-leading);
}

.demo :global(.prism-code) {
  background-color: transparent !important;
}

.wrapper {
  display: flex;
}

.example {
  padding: var(--ifm-pre-padding);
  flex: 1;
}

.example form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.example form > :not(:first-child) {
  margin-top: calc(var(--ifm-pre-padding) / 2);
}

.example form :global(.error) {
  margin-top: calc(var(--ifm-pre-padding) / 4);
}

.example form input {
  display: block;
}

.settings {
  display: flex;
  align-items: center;
  padding: var(--ifm-pre-padding);
  border-left: 1px solid var(--border);
}

.collapse {
  position: relative;
}

.badge {
  position: absolute;
  top: var(--ifm-pre-padding);
  right: var(--ifm-pre-padding);
}

.pre {
  border-top: 1px solid var(--border);
  border-radius: 0;
  margin: 0;
}

.code {
  border: 0;
  border-top: 1px solid var(--border);
  flex: 1;
  overflow: auto;
  box-shadow: none;
  background-color: transparent;
  border-radius: 0;
  margin: 0;
}
