.button {
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
  padding: 0 calc(var(--ifm-pre-padding) / 2);
  translate: calc(100% - 28px) 0;
  border-right: 0;
  transition: translate 200ms;
  position: relative;
}

.button:hover,
.button:focus {
  translate: 0 0;
  z-index: 1;
}

.button + .button {
  margin-top: -1px;
}

.icon {
  height: 1em;
  margin-right: calc(var(--ifm-pre-padding) / 2);
}
